.widget {
  border: 1px solid #ccc;
  background: #f5f5f5;
  padding: 5px;
  margin: 10px 0 0 0;
  font-size: 8pt;
}

.sidebar ul {
  /*margin: 10px 0 0 0;*/
  padding: 5px;
}

.sidebar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-bottom: none;
}

.sidebar>ul>li:last-child {
  border-bottom: 1px solid #ccc;
}

.sidebar ul li ul li {
  margin: 0;
  padding: 0;
  border-style: none;
  list-style-position: inside;
  padding-left: 10px;
}

.sidebar ul li ul li a {
  display: inline;
}

.sidebar ul li ul {
  margin: 0;
  border-bottom: none;
}

.sidebar ul li ul li span {
  display: inline;
  padding: 0px;
}

.sidebar ul li a {
  display: block;
  padding: 3px;
  text-indent: 10px;
  text-decoration: none;
}

.sidebar ul li span {
  display: block;
  padding: 3px;
  text-indent: 10px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: #eee;
}

#poweredBy .alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

.lift_error {
  color: red;
}

.lift_warning {
  color: yellow;
}

.lift_notice {}

.main-border {
  border-left: none;
}

.dpp_stuff p {
  padding-left: 15px;
}
/*Lift stuff*/


/*Lift notice*/

#wrappedNotice #lift__noticesContainer___notice ul,
#wrappedNotice #lift__noticesContainer___warning ul,
#wrappedNotice #lift__noticesContainer___error ul {
  padding: 5px;
  list-style-type: none;
}

#wrappedNotice #lift__noticesContainer___notice {
  border-radius: 5px;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}

#wrappedNotice #lift__noticesContainer___warning {
  border-radius: 5px;
  background-color: #FCF8E3;
  border-color: #FBEED5;
  color: #C09853;
}

#wrappedNotice #lift__noticesContainer___error {
  border-radius: 5px;
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}

.widget ul {
  padding: 5px;
}

.widget ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-bottom: none;
}

.widget ul li:last-child {
  border-bottom: 1px solid #ccc;
}


.bd-callout {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #eee;
	border-left-width: .25rem;
	border-radius: .25rem;
}

.bd-callout-info {
	border-left-color: #5bc0de;
}
.bd-callout-warning {
	border-left-color: #f0ad4e;
}

/* bootstrap overrides */
.breadcrumb {
  font-size: 0.8rem;
  padding: 0.2rem 0.8rem;
}

@media (min-width: 768px) {
  .main-border {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}