body {
	background:url(../images/page_bg.jpg) top left repeat-x #e2e2e2;
	margin:0;
	padding:0;
	font-family:arial,  helvetica, sans-serif;
	font-size:9pt;
	color:#333;
}

#container {
	width:960px;
	margin:20px auto 20px auto;
	border:1px solid #000;
	background:#fff;
}

#header {
	height:80px;
	background:url(../images/header_bg.jpg) top left repeat-x #a0da2b;
	border-bottom:10px solid #77a13d;
}

#header h1 {
	color:#fff;
	font-size:22pt;
	margin:0;
	font-family:georgia;
	padding:25px 10px 0px 10px;
}

#content {
	width:650px;
	padding:10px;
	float:right;
}

#content h1, h2, h3, h4 {
	margin:0;
	padding:0;
	font-family:georgia;
	font-weight:normal;
}

#content h2 {
	color:#060;
	font-size:18pt;
	border-bottom:1px solid #ccc;
}

#content h3 {
	color:#333;
	font-size:12pt;
}

#photos {
	width:428px;
	height:224px;
	margin:10px auto 10px auto;
	position:relative;
	padding:10px;
	background:#f2f7e9;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.imgbox {
	width:75px;
	height:75px;
	border:1px solid #77A13D;
	background:#f1f1f1;
	margin:15px;
	float:left;
	display:inline;
}

#sidebar {
	width:250px;
	padding:10px;
	float:left;
	margin:0;
}

#sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}
	 

#sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

#sidebar ul li a {
	display:block;
	padding:3px;
	width:242px;
	background:url(../images/li-off.jpg) top left no-repeat #f2f7e9;
	color:#060;
	text-indent:30px;
	text-decoration:none;
}

#sidebar ul li span {
	display:block;
	padding:3px;
	width:242px;
	background:url(../images/li-off.jpg) top left no-repeat #f2f7e9;
	color:#060;
	text-indent:30px;
	text-decoration:none;
}

#sidebar ul li a:hover {
	background:url(../images/li-on.jpg) top left no-repeat #f2f7e9;
}
.widget {
	/* height:60px; */
	border:1px solid #ccc;
	background:#f5f5f5;
	padding:5px;
	text-align:center;
	margin:10px 0 0 0;
	font-size:8pt;
}	

#footer {
	clear:both;
	border-top:1px solid #000;
	background:#77a13d;
	padding:10px;
	color:#fff;
	font-size:8pt;
	text-align:center;
}

a {
	color:#060;
	font-weight:bold;
}

a:hover {
	background:#FFFFDD;
}